
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<!-- Header Section -->
<!-- Header Section -->
<div class="bg-gray-200 px-6 py-4" style="text-align: center;">
    <h1 class="text-2xl font-bold text-gray-800">Карта на сърф спотовете в България</h1>
    <p class="text-gray-600">Натиснете върху маркер, за да разгледате подробности.</p>
  </div>
<!-- Styles for Responsive Layout -->
<style>
  /* Desktop styles */
  @media (min-width: 768px) {
    #map-container {
      flex-direction: row;
      height: 700px;
    }
    #map-section, #info-section {
      width: 50%;
      height: 700px;
    }
    #info-section {
      display: block;
    }
  }

  /* Mobile styles */
  @media (max-width: 767px) {
    #map-section {
      width: 100%;
      height: 700px;
    }
    #info-section {
      display: none;
    }
  }
</style>

<!-- Container for Map and Info Section -->
<div id="map-container" style="display: flex; flex-wrap: wrap; width: 95%;margin: 0 auto; border: 1px solid #ccc; border-radius: 10px;overflow: hidden;">
  <!-- Map Section -->
  <div id="map-section" style="flex: 1;">
    <div id="map" style="height: 100%; width: 100%;"></div>
  </div>

  <!-- Info Section -->
  <div id="info-section" style="flex: 1; padding: 10px;">
    <div id="spot-info">
      <!-- Placeholder content -->
      <h2>Select a Spot</h2>
      <p>Click on a marker to see more information about the spot.</p>
    </div>
  </div>
</div>

<!-- Filter and List Section -->
<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-6">
  <!-- Filter Buttons with Wrapping -->
  <div class="flex flex-wrap justify-center gap-3 mb-6 px-2">
    <button id="allBtn" class="filter-btn bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 transition">Всички</button>
    <button id="spotsBtn" class="filter-btn bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 transition">Спотове</button>
    <button id="schoolBtn" class="filter-btn bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 transition">Сърф училища</button>
    <button id="shopBtn" class="filter-btn bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 transition">Магазини</button>
    <button id="shaperBtn" class="filter-btn bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 transition">Шейпъри</button>
  </div>


  <!-- List Container -->
  <div id="list-container" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"></div>
</div>

<!-- JavaScript Code -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    console.log('Initializing map...');

    // Fetch spots and landmarks data from the controller
    const spots = <%= raw @spots.to_json(
      only: [
        :id,
        :name,
        :description,
        :latitude,
        :longitude,
        :wave_type,
        :seabed_type,
        :swell_window,
        :consistency,
        :break_type,
        :image_url,
        :slug
      ],
      methods: [:image_asset_url]
    ) %>;

    const landmarks = <%= raw @landmarks.to_json(
      only: [:id, :name, :description, :latitude, :longitude, :slug, :landmark_type, :url, :image_url],
      methods: [:image_asset_url]
    ) %>;

    console.log('Spots Data:', spots);
    console.log('Landmarks Data:', landmarks);

    document.addEventListener('turbo:load', function() {
      if (document.getElementById('map')) {
        initMap();
      }
    });

    let mapInstance = null;

    window.initMap = function() {
      if (mapInstance) {
        return; // Map is already initialized
      }

      // Set default location (latitude and longitude for Varna, Bulgaria)
      const defaultLocation = { lat: 43.2141, lng: 27.9147 };

      const map = new google.maps.Map(document.getElementById('map'), {
        center: defaultLocation,
        zoom: 8,
        minZoom: 8,
        maxZoom: 18,
        mapTypeId: 'satellite',
        gestureHandling: 'greedy',
      });
      mapInstance = map;

      let isMobile = window.innerWidth < 768;
      let openInfoWindow = null;

      const waveIcons = {
        "Shifting Peaks": '<%= asset_path("spot_images/shiftingpeaks.png") %>', // Example wave type
        "Righthander": '<%= asset_path("spot_images/righthander.png") %>',
        "Lefthander": '<%= asset_path("spot_images/lefthander.png") %>',
        "Aframe": '<%= asset_path("spot_images/Aframe.png") %>',
        // Add more wave types here with corresponding icons
      };

      const seabedIcons = {
        "Sand": '<%= asset_path("spot_images/sand.png") %>', // Example seabed type
        "Rock": '<%= asset_path("spot_images/rock.png") %>',
        "Mixed": '<%= asset_path("spot_images/mixed.png") %>',
        // Add more seabed types here with corresponding icons
      };

      const customIconUrl = '<%= asset_path("water-waves.png") %>';
      const customIcon = {
        url: customIconUrl,
        scaledSize: new google.maps.Size(40, 40), // Adjust the size here
        anchor: new google.maps.Point(20, 40),    // Adjust the anchor point based on the size
      };

      // Define different icons for different types of landmarks
      const landmarkIcons = {
        school: '<%= asset_path("landmark_images/school.png") %>',
        shop: '<%= asset_path("landmark_images/shop.png") %>',
        shaper: '<%= asset_path("landmark_images/shaper.png") %>'
      };

      // Add markers for spots
      spots.forEach(function(spot) {
        createSpotMarker(spot, customIcon, map, isMobile);
      });

      // Add markers for landmarks
      landmarks.forEach(function(landmark) {
        // Determine which icon to use based on the landmark_type
        const markerIcon = landmarkIcons[landmark.landmark_type] || landmarkIcons['shop']; // Default to 'shop' icon if type is undefined
        createLandmarkMarker(landmark, markerIcon, map, isMobile);
      });
      
      // Function to create a marker and attach info window for spots
      function createSpotMarker(spot, icon, map, isMobile) {
        const marker = new google.maps.Marker({
          position: { lat: parseFloat(spot.latitude), lng: parseFloat(spot.longitude) },
          map: map,
          title: spot.name,
          icon: icon,
        });

        let waveTypeIcon = waveIcons[spot.wave_type] || '';
        let seabedTypeIcon = seabedIcons[spot.seabed_type] || '';
        let infoContent = '';

        if (isMobile) {
          // Mobile view: No image, styled text
          infoContent = `
              <div style="padding: 0; margin: 0;">
            ${spot.image_asset_url ? `<img src="${spot.image_asset_url}" alt="${spot.name}" style="width: 100%; height: auto; display: block; border-radius: 10px 10px 0 0;">` : ''}
            <div class="p-4">
                <h1 class="text-xl font-bold mb-2">${spot.name}</h1>
                <p class="text-gray-700 mb-2">${spot.description}</p>
                <ul class="mb-2">
                    <li class="flex items-center mb-2">
                        <img src="${waveTypeIcon}" alt="Wave Type" class="inline-block" style="width: 24px; height: 24px;" />
                        <img src="${seabedTypeIcon}" alt="Seabed Type" class="inline-block ml-2" style="width: 24px; height: 24px;" />
                    </li>
                    <li><strong>Swell Window:</strong> ${spot.swell_window || 'N/A'}</li>
                    <li><strong>Consistency:</strong> ${spot.consistency || 'N/A'}</li>
                    <li><strong>Break Type:</strong> ${spot.break_type || 'N/A'}</li>
                </ul>
                <a href="/spots/${spot.slug}" class="inline-flex items-center justify-center w-full px-6 py-2 bg-blue-100 text-black font-bold rounded-lg shadow-lg border-2 border-blue-300 hover:bg-blue-200 transform transition-transform duration-300 ease-in-out hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-200 focus:ring-opacity-75"
                    style="background-color: #E0F2FE !important; border-color: #7DD3FC !important; color: black !important;">
                    <i class="fas fa-info-circle mr-2"></i> View More
                </a>
            </div>
        </div>
    `;
        } else {
          // Desktop view: Include image as banner
          let imageBanner = '';
          if (spot.image_asset_url) {
            imageBanner = `<img src="${spot.image_asset_url}" alt="${spot.name}" class="w-full h-64 object-cover mb-4 rounded-t-lg">`;
          }

          infoContent = `
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
              ${imageBanner}
              <div class="p-6">
                <h1 class="text-2xl font-bold mb-4">${spot.name}</h1>
                <p class="text-gray-700 mb-4">${spot.description}</p>
                <ul class="mb-4">
                  <li class="flex items-center">
                    <strong>Wave Type:</strong>&nbsp;
                    <span>${spot.wave_type || 'N/A'}</span> 
                    <img src="${waveTypeIcon}" alt="Wave Type" class="inline-block ml-2" style="width: 24px; height: 24px;" />
                  </li>
                  <li class="flex items-center">
                    <strong>Seabed Type:</strong>&nbsp;
                    <span>${spot.seabed_type || 'N/A'}</span>
                    <img src="${seabedTypeIcon}" alt="Seabed Type" class="inline-block ml-2" style="width: 24px; height: 24px;" />
                  </li>
                  <li><strong>Swell Window:</strong> ${spot.swell_window || 'N/A'}</li>
                  <li><strong>Consistency:</strong> ${spot.consistency || 'N/A'}</li>
                  <li><strong>Break Type:</strong> ${spot.break_type || 'N/A'}</li>
                </ul>
                <a href="/spots/${spot.slug}" class="inline-flex items-center justify-center w-100 px-6 py-2 bg-blue-100 text-black font-bold rounded-lg shadow-lg border-2 border-blue-300 hover:bg-blue-200 transform transition-transform duration-300 ease-in-out hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-200 focus:ring-opacity-75"
                  style="background-color: #E0F2FE !important; border-color: #7DD3FC !important; color: black !important; padding-top: 10px; padding-bottom: 10px;padding-left: 10px;padding-right: 10px">
                  <i class="fas fa-info-circle mr-2"></i> View More
                </a>
              </div>
            </div>
          `;
        }

        const infoWindow = new google.maps.InfoWindow({
          content: infoContent,
        });

        marker.addListener('click', function() {
          if (isMobile) {
            if (openInfoWindow) {
              openInfoWindow.close();
            }
            infoWindow.open(map, marker);
            openInfoWindow = infoWindow;
          } else {
            document.getElementById('spot-info').innerHTML = infoContent;
          }
        });
      }

      // Function to create a marker and attach info window for landmarks
      function createLandmarkMarker(landmark, icon, map, isMobile) {
        const marker = new google.maps.Marker({
          position: { lat: parseFloat(landmark.latitude), lng: parseFloat(landmark.longitude) },
          map: map,
          title: landmark.name,
          icon: {
            url: icon,
            scaledSize: new google.maps.Size(40, 40), // Adjust the size for landmarks
            anchor: new google.maps.Point(20, 40),
          },
        });

        let infoContent = '';

        if (isMobile) {
          // Mobile view: No image, styled text
          infoContent = `
            <div style="padding: 0; margin: 0;">
                ${landmark.image_asset_url ? `<img src="${landmark.image_asset_url}" alt="${landmark.name}" style="width: 100%; height: auto; display: block; border-radius: 10px 10px 0 0;">` : ''}
                <div class="p-4">
                    <h1 class="text-xl font-bold mb-2">${landmark.name}</h1>
                    <p class="text-gray-700 mb-2">${landmark.description}</p>
                    <a href="${landmark.url}" target="_blank" rel="noopener noreferrer" class="inline-flex items-center justify-center w-full px-6 py-2 bg-blue-100 text-black font-bold rounded-lg shadow-lg border-2 border-blue-300 hover:bg-blue-200 transform transition-transform duration-300 ease-in-out hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-200 focus:ring-opacity-75"
                        style="background-color: #E0F2FE !important; border-color: #7DD3FC !important; color: black !important;">
                        <i class="fas fa-info-circle mr-2"></i> View More
                    </a>
                </div>
            </div>
        `;
        } else {
          // Desktop view: Include image as banner
          let imageBanner = '';
          if (landmark.image_url) {
            imageBanner = `<img src="${landmark.image_asset_url}" alt="${landmark.name}" class="w-full h-64 object-cover mb-4 rounded-t-lg">`;
          }

          infoContent = `
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
              ${imageBanner}
              <div class="p-6">
                <h1 class="text-2xl font-bold mb-4">${landmark.name}</h1>
                <p class="text-gray-700 mb-4">${landmark.description}</p>
               <a href="${landmark.url}" target="_blank" rel="noopener noreferrer" class="inline-flex items-center justify-center w-100 px-6 py-2 bg-blue-100 text-black font-bold rounded-lg shadow-lg border-2 border-blue-300 hover:bg-blue-200 transform transition-transform duration-300 ease-in-out hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-200 focus:ring-opacity-75"
    style="background-color: #E0F2FE !important; border-color: #7DD3FC !important; color: black !important; padding-top: 10px; padding-bottom: 10px;padding-left: 10px;padding-right: 10px">
    <i class="fas fa-info-circle mr-2"></i> View More
</a>
              </div>
            </div>
          `;
        }

        const infoWindow = new google.maps.InfoWindow({
          content: infoContent,
        });

        marker.addListener('click', function() {
          if (isMobile) {
            if (openInfoWindow) {
              openInfoWindow.close();
            }
            infoWindow.open(map, marker);
            openInfoWindow = infoWindow;
          } else {
            document.getElementById('spot-info').innerHTML = infoContent;
          }
        });
      }

      // Update 'isMobile' when the window is resized
      window.addEventListener('resize', function() {
        isMobile = window.innerWidth < 768;
        toggleInfoSection(isMobile);
      });

      function toggleInfoSection(isMobile) {
        if (isMobile) {
          document.getElementById('info-section').style.display = 'none';
        } else {
          document.getElementById('info-section').style.display = 'block';
        }
      }
    }

  // Define container for list display
  const listContainer = document.getElementById('list-container');

// Define waveIcons and seabedIcons with the correct paths to the icons
const waveIcons = {
  "Shifting Peaks": '<%= asset_path("spot_images/shiftingpeaks.png") %>',
  "Righthander": '<%= asset_path("spot_images/righthander.png") %>',
  "Lefthander": '<%= asset_path("spot_images/lefthander.png") %>',
  "Aframe": '<%= asset_path("spot_images/Aframe.png") %>',
  // Add more wave types as needed
};

const seabedIcons = {
  "Sand": '<%= asset_path("spot_images/sand.png") %>',
  "Rock": '<%= asset_path("spot_images/rock.png") %>',
  "Mixed": '<%= asset_path("spot_images/mixed.png") %>',
  // Add more seabed types as needed
};

// Function to render list items
function renderList(items) {
  // Clear previous content
  listContainer.innerHTML = '';

  items.forEach(item => {
    const itemCard = document.createElement('div');
    itemCard.className = 'bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full';

    // Image for the banner
    const imageBanner = item.image_asset_url ? `<img src="${item.image_asset_url}" alt="${item.name}" class="w-full h-64 object-cover mb-4 rounded-t-lg">` : '';

    // Get the correct icons for wave type and seabed type
    const waveTypeIcon = waveIcons[item.wave_type] || '';
    const seabedTypeIcon = seabedIcons[item.seabed_type] || '';

    // Debugging logs
    console.log("Rendering item:", item.name);
    console.log("Wave Type Icon:", waveTypeIcon);
    console.log("Seabed Type Icon:", seabedTypeIcon);

    // Display the icons instead of text
    const typeSpecificInfo = `
      <div class="flex items-center space-x-2">
        ${waveTypeIcon ? `<img src="${waveTypeIcon}" alt="Wave Type" class="inline-block" style="width: 24px; height: 24px;" />` : ''}
        ${seabedTypeIcon ? `<img src="${seabedTypeIcon}" alt="Seabed Type" class="inline-block ml-2" style="width: 24px; height: 24px;" />` : ''}
      </div>`;

    // URL and target attributes for the button
    const itemUrl = item.url || `/spots/${item.slug}`;
    const targetAttr = item.url ? '_blank' : '_self';

    // Card HTML content
    itemCard.innerHTML = `
  ${imageBanner}
  <div class="flex flex-col justify-between h-full"> 
    <div class="p-6 flex-grow">
      <h2 class="text-2xl font-bold mb-2">${item.name}</h2>
      ${typeSpecificInfo} <!-- Moved here, directly under the title -->
      <p class="text-gray-700 mb-4">${item.description}</p>
    </div>
    <div class="p-6 pt-0 mt-auto">
      <a href="${itemUrl}" target="${targetAttr}" 
         class="inline-flex items-center justify-center w-full px-6 py-2 bg-blue-100 text-black font-bold rounded-lg shadow-lg border-2 border-blue-300 hover:bg-blue-200 transform transition-transform duration-300 ease-in-out hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-200 focus:ring-opacity-75">
        <i class="fas fa-info-circle mr-2"></i> Вижте още
      </a>
    </div>
  </div>`;

    // Append the card to the list container
    listContainer.appendChild(itemCard);
  });
}

  // Render All Items by Default
  renderList([...spots, ...landmarks]);

  // Filter Buttons
  const allBtn = document.getElementById('allBtn');
  const spotsBtn = document.getElementById('spotsBtn');
  const schoolBtn = document.getElementById('schoolBtn');
  const shopBtn = document.getElementById('shopBtn');
  const shaperBtn = document.getElementById('shaperBtn');

  // Button Event Listeners
  allBtn.addEventListener('click', () => renderList([...spots, ...landmarks]));
  spotsBtn.addEventListener('click', () => renderList(spots));
  schoolBtn.addEventListener('click', () => renderList(landmarks.filter(landmark => landmark.landmark_type === 'school')));
  shopBtn.addEventListener('click', () => renderList(landmarks.filter(landmark => landmark.landmark_type === 'shop')));
  shaperBtn.addEventListener('click', () => renderList(landmarks.filter(landmark => landmark.landmark_type === 'shaper')));
});
</script>




<% unless defined?(google) && google.maps %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:google_maps, :api_key)}&callback=initMap"%>
<% end %>