<!DOCTYPE html>
<html>
  <head>
    <title>Blackseawebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@latest/dist/flowbite.min.js"></script>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "navbar", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <%= yield %>
  </body>
</html>
